.section-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.features {
    padding-bottom: 0;
}
.detail-list {
    display: flex;
}
.detail-list__item {
    width: 270px;
    &:not(:last-child) {
        margin-right: 30px;
    }
}
.detail-list__icon-wrap {
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--bg-light);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail-list__title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.detail-list__text {
    color: var(--secondary-text-color);
}